*******/* police d'ecriture du site */
body {
    font-family: 'Lato', sans-serif;
    /* user-select: none; */
  }
  
/* style pour le header */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
header img{
    height: 100px;
}
/*search section */
/* 
.loup{
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.loup input{


}

} */

.loup {
    position: relative; 
    width: 100%; 
    margin: auto; 
    
  }
  
  .loup input {  
    box-sizing: border-box; 
    outline: none;
    padding: 15px;
    border-radius: 7px;
  }
  
  .loup i {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    /* color: #ccc;  */
    pointer-events: none; 
    font-size: 20px;
  }
  
/* style pour la section recette */

#sectionArticle{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
}
/* carte article */
.artileRecipes{
   width: 31% ;
    height: 500px;
    border: solid 1px white;
    border-radius: 7px;
    box-shadow: 0 4px 6px #0000001a, 0 1px 3px #00000014;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    /* user-select: none; */

}

.artileRecipes:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 15px #00000033, 0 4px 6px #0000001a;
}
/* ligne de la partie vide d'un article */
.emptyRow{
    height: 40%;
background-color: #c7bebe;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}
/* ligne de la partie chargée d'un article */
.fullRow{
background-color: #e7e7ef;
height: 60%;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
padding: 20px;
font-family: 'Lato', sans-serif;
}
/* ligne nom et temps */
.nameTimeDiv{
    margin-bottom: 15px;
    font-weight: bold;
}
.fa-clock{
    color: black;
    font-size: 20px;
}
/* description */
.colDescriptionClass{
height: 215px;
overflow: hidden;
text-overflow: ellipsis;
text-align: start;
}
ul{
    list-style-type: none;
}
.ingredientItem, .nameTimeDiv span{
    font-weight: 700;
}

/* STYLE POUR LES DROPDOW */
.tagsDropdown{
    margin-top: 25px;
}
.tagsDropdown{
    margin-top: 25px;
}
.rowTags{
    /* background-color: #6a0505; */
    display: flex;
    padding: 5px;

}
.colTags{
    /* background-color: aqua; */
    display: flex;
}
.tag{
    margin-right: 10px;
}
.rowDropdown{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0px 20px 0px;
    /* background-color: #6a0505; */
}
/* STYLE POUR LES TAGS */


/* style sur les dropdowns */
.dropdownBody{
    border: 1px solid transparent;
    border-radius: 7px;
    padding-bottom: 20px;
    width: 700px;
    position: absolute;
    top: 1%;
    z-index: 10;
    display: none;
}

/* STYLE POUR LES TAGS */


.dropdownHeader{
    border: transparent 1px solid;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
button{
    color: white;
}
button{
    color: white;
    border: none;
}
.dropdownSearch{
    padding: 30px;
}
.dropdownSearch{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdownSearch input{
    border: none;
    outline: none;
    color: white;
}
.fa-chevron-up{
    color: white;
}
.dropdownSearch input{
    border: none;
    outline: none;
    color: white;
}
.fa-chevron-up{
    color: white;
}
/* Style du texte du placeholder */
input[placeholder="Rechercher un ingrédient"]::placeholder,
input[placeholder="Rechercher un ingrédient"]::placeholder,
input[placeholder="Rechercher un appareil"]::placeholder,
input[placeholder="Rechercher un ustensile"]::placeholder{
    color: #f0eaea;
    font-weight: 30;
}

.dropdownList{
    column-count: 3;
}
.classList{
    color: white;
    cursor: pointer;
}
.classList:hover {
    background-color: #6a0505;
    font-weight: 30;
}

.dropdownList{
    column-count: 1;
    cursor: pointer;
}
.dropdownList li {
    border: solid 1px transparent;

}
.dropdownList li:hover{
    background-color: #9b9a9a;
    border-radius: 7px;
    padding: 2px;
}
.classList{
    color: white;
    cursor: pointer;
    border-radius: 7px;
}
.classList:hover {
    background-color: #6a0505;
}

/* .col-8 li{
    background-color: red;
} */
.fa-solid{
    cursor: pointer;
}

.colTags{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 100%;
}
.tag {
    display: flex;
    gap: 7px;
    width: fit-content;
    height: 40px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 7px;
    color: white;
    flex-wrap: wrap;

}
.fa-regular{
    color: white;
}
.dropdownList li{
    color: white;
}


@media (min-width: 280px) {
    .artileRecipes {
      width: 400%;
      max-width: 100%;
      box-sizing: border-box;
    }
    .dropdownList {
      column-count: 1;
    }
    .dropdownBody {
      width: 200px;
    }
  }
  
  



@media (min-width: 768px) {
    .artileRecipes{
       width: 45%;
     }
     /* body{
        background-color: red;
       } */
       .dropdownList{
        column-count: 1;
    }
   
    .rowDropdown{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
  }
  
  @media (min-width: 700px) {
    .dropdownBody{
        width: 400px;
    }
}
@media (max-width: 700px) {
    .rowDropdown{  
        flex-direction: column;
        gap: 10px;
    }
    
    .dropdownBody{
        width: 325px;
    }
    
  }

 
@media (min-width: 998px) {
    .artileRecipes{
        width: 31%;
     }
  }
    
    
  @media (min-width: 1300px) {
    .dropdownList{
        column-count: 3;
    }
    .dropdownBody{
        width: 700px;
    }
    .rowDropdown{
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 30px;
    }
  
}

@media (max-width: 1300px) {
    .dropdownHeader{
        width: 300px !important;
    }
    .rowDropdown{  
        flex-direction: column;
        gap: 20px;
    }
    
  }


.imageH{
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}